@charset "utf-8";

#timeline{
	margin-left:2px;
}

#query-area__query-input__input{
	/* 入力欄Element(<input>) */
	max-width: calc(100%);
}

#query-area__query-input__button{
	display: none;
	max-width: 60px;
}

